<div class="container mt-4">
    <h1 align="center">Bem Vindo ao seu Álbum {{ nome }}</h1>
</div>

<div class="container mt-5" style="max-width: 60vw">
    <div class="row mb-3">
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="comprarPacotinho()">COMPRAR PACOTINHO</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                COLAR FIGURINHA
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
  
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h5 class="modal-title">COLAR FIGURINHA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
  
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="usr">Informe o número da Figurinha:</label>
                                <input type="number" class="form-control" id="numFig">
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="colarFigurinha(); $event.preventDefault()">COLAR</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">FECHAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TROCAR FIGURINAHS -->
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalTrocarFigurinha">
                TROCAR FIGURINHA
            </button>
            <!-- The Modal -->
            <div class="modal" id="myModalTrocarFigurinha">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
  
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h5 class="modal-title">TROCAR FIGURINHA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
  
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="usr">Informe o número da Figurinha Repetida:</label>
                                <input type="number" class="form-control" id="numFigRepetida">
                            </div>
                            <div class="form-group">
                                <label for="usr">Informe o número da Figurinha que pretende Adquirir:</label>
                                <input type="number" class="form-control" id="numFigAdquirida">
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="trocarFigurinha(); $event.preventDefault()">COLAR</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">FECHAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin: 0px">

    <div class="row">
        <div class="col-md-6">
            <h5>Você possui {{numMinhasFigs}} figurinhas.</h5>
        </div>
        <div class="col-md-6">
            <h5>Faltam {{ 681 - numMinhasFigs}} figurinhas para completar o Álbum.</h5>
        </div>
    </div>

    <div class="row mt-4">
        <div
          class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 mb-2"
          *ngFor="let fig of todasFigurinhas"
        >
            <app-card [figurinha]="fig"></app-card>
        </div>
    </div>
</div>
