<div class="container mt-4">
    <h1 align="center">Bem Vindo ao seu Álbum {{ nome }}</h1>
</div>

<div class="container mt-5" style="max-width: 60vw">
    <div class="row">
        <div class="col-md-6">
            <h1>Meu Álbum</h1>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="comprarPacotinho()">COMPRAR PACOTINHO</button>
        </div>
    </div>
    <hr style="margin: 0px">

    <div class="row mt-4">
        <div
          class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 mb-2"
          *ngFor="let fig of todasFigurinhas"
        >
            <app-card [figurinha]="fig"></app-card>
        </div>
    </div>
</div>
