<form
  [formGroup]="cadastroUsuario"
  style="margin-bottom: 5rem"
  class="mt-3"
  (ngSubmit)="onSubmit()"
>
  <div class="row mb-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <label for="inputState">Nome *</label>
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          id="nome"
        />

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('nome')"
          msgErro="Nome é obrigatório."
        >
        </app-campo-control-erro>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="form-group" [ngClass]="aplicaCssErro('senha')">
        <label for="inputState">Senha *</label>
        <input
          type="password"
          class="form-control"
          formControlName="senha"
          id="senha"
        />

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('senha')"
          msgErro="Senha é obrigatório."
        >
        </app-campo-control-erro>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-primary" [disabled]="cadastroPsicologo.invalid">
      Salvar
    </button>
  </div>
</form>
